<main>

    <!-- DISPLAY DELIVERIES IN PROGRESS -->
    <div class=" border rounded-lg shadow m-2 min-h-screen">
        <div class="flex justify-between  my-2 mx-2">
            <div>
                <input class="rounded-lg w-60 pl-4 h-10 text-black mr-2" placeholder="Search reference"  [(ngModel)]="search" (ngModelChange)="onSearchChange()"/>
            </div>
        </div>
        <div class="dropdown-divider"></div>
        <div class="flex flex-column items-center my-4 text-xs divide-y devide-slate-700">
            <ul class="flex">
                <li class="w-24 bg-red-300 h-8 text-center pt-2 rounded-tl-lg">Reference</li>
                <li class="w-96 bg-red-500 h-8 text-center pt-2 ">Description</li>
                <li class="w-20 bg-red-300 h-8 text-center pt-2 ">Weigth</li>
                <li class="w-48 bg-red-500 h-8 text-center pt-2 ">Sent the</li>
                <li class="w-48 bg-red-300 h-8 text-center pt-2 ">Destination</li>
                <li class="w-80 bg-red-500 h-8 text-center pt-2 ">Address</li>
                <li class="w-48 bg-red-300 h-8 text-center pt-2  rounded-tr-lg">Currently at</li>
                
                
            </ul>
            <ul *ngFor="let pack of packages" class="flex">
                <li class="w-24 bg-slate-300 h-8 pl-2 pt-2">{{pack.reference}}</li>
                <li class="w-96 bg-slate-100 h-8 pl-2 pt-2 ">{{pack.description}}</li>
                <li class="w-20 bg-slate-300 h-8 pl-2 pt-2 ">{{pack.weight + " Kg"}}</li>
                <li class="w-48 bg-slate-100 h-8 pl-2 pt-2 text-center">{{pack.creationDate.slice(0,10)}}</li>
                <li class="w-48 bg-slate-300 h-8 pl-2 pt-2 text-center">{{pack.traject.destination}}</li>
                <li class="w-80 bg-slate-100 h-8 pl-2 pt-2 ">{{pack.address}}</li>
                <li class="w-48 bg-slate-300 h-8 pl-2 pt-2 text-center">{{pack.presentLocation}}</li>
            </ul>
        </div>
    </div>

</main>