<main>

    <!-- DISPLAY DELIVERIES IN PROGRESS -->
    <div  *ngIf="page==0" class=" border rounded-lg shadow m-2 min-h-screen">
        <div class="flex justify-between  my-2 mx-2">
            <div>
                <input class="rounded-lg w-60 pl-4 h-10 text-black mr-2" placeholder="Search reference"  [(ngModel)]="search" (ngModelChange)="onSearchChange()"/>
            </div>
            <button class="bg-gray-500 text-white rounded-sm h-10 w-48" (click)="page=1">Create new delivery</button>
        </div>
        <div class="dropdown-divider"></div>
        <div class="flex flex-column items-center my-4 text-xs divide-y devide-slate-700">
            <ul class="flex">
                <li class="w-24 bg-red-300 h-8 text-center pt-2 rounded-tl-lg">Reference</li>
                <li class="w-64 bg-red-500 h-8 text-center pt-2 ">Description</li>
                <li class="w-20 bg-red-300 h-8 text-center pt-2 ">Weigth</li>
                <li class="w-60 bg-red-500 h-8 text-center pt-2 ">Client name</li>
                <li class="w-72 bg-red-300 h-8 text-center pt-2 ">Client email</li>
                <li class="w-32 bg-red-500 h-8 text-center pt-2 ">Phone number</li>
                <li class="w-48 bg-red-300 h-8 text-center pt-2 ">Traject</li>
                <li class="w-48 bg-red-500 h-8 text-center pt-2  rounded-tr-lg">Current location</li>
                
                
            </ul>
            <ul *ngFor="let pack of packages" class="flex">
                <li class="w-24 bg-slate-300 h-8 pl-2 pt-2">{{pack.reference}}</li>
                <li class="w-64 bg-slate-100 h-8 pl-2 pt-2 ">{{pack.description}}</li>
                <li class="w-20 bg-slate-300 h-8 pl-2 pt-2 ">{{pack.weight + " Kg"}}</li>
                <li class="w-60 bg-slate-100 h-8 pl-2 pt-2">{{pack.client.firstname + " " + pack.client.lastname}}</li>
                <li class="w-72 bg-slate-300 h-8 pl-2 pt-2">{{pack.client.email}}</li>
                <li class="w-32 bg-slate-100 h-8 pl-2 pt-2 ">{{pack.client.phonenumber}}</li>
                <li class="w-48 bg-slate-300 h-8 pl-2 pt-2 ">{{pack.traject.source + " - " + pack.traject.destination}}</li>
                <li class="w-48 bg-slate-100 h-8 pl-2 pt-2">{{pack.presentLocation}}</li>
            </ul>
        </div>
    </div>

    <!-- CREATE DELIVERY -->
    

    <div *ngIf="page==1">

        <div class="my-2 mx-2">
            <button class="bg-gray-500 text-white rounded-lg h-10 w-40" (click)="page=0">Back</button>
        </div>

        <div class="flex flex-column border rounded-sm shadow text-sm mx-2">
            <p class="pl-10 pt-4 text-xl">New delivery:</p>
            <div class="dropdown-divider"></div>
            <input class="rounded-lg my-2 mx-20" [(ngModel)]="description" placeholder="Description"/>
            <input type="number" class="rounded-lg my-2 mx-20" [(ngModel)]="weight" placeholder="Weigth in Kg"/>
            <input class="rounded-lg my-2 mx-20" [(ngModel)]="email" placeholder="Client email"/>
            <input class="rounded-lg my-2 mx-20" [(ngModel)]="address" placeholder="Address"/>
            <select class="rounded-lg my-2 mx-20"  [(ngModel)]="trajectId">
                <option disabled selected value="">Choose traject</option>
                <option *ngFor="let traject of trajects" [ngValue]="traject.id">{{traject.source + "   -   " + traject.destination}}</option>
            </select>
            <div class="dropdown-divider"></div>
            <div *ngIf="!valid">
                <p class="px-20 text-red-500 text-sm mt-2">Fill the fields correctly</p>
            </div>
            <div class="flex justify-end">   
                <button class="bg-green-600 mx-20 text-white rounded-lg h-10 mb-3 w-40" (click)="onSubmit()">Create</button>
            </div>
        </div>
    </div>


    <!-- CREATE CLIENT -->
    <div *ngIf="page==2">
        <div class="my-2 mx-2">
            <button class="bg-gray-500 text-white rounded-sm h-10 w-40" (click)="page=0">Back</button>
        </div>
        <div class="mx-2">
            <div class="flex flex-column border rounded-lg shadow text-sm">
                <p class="pl-10 pt-4 text-xl">New user account:</p>
                <div class="dropdown-divider"></div>
                <input class="rounded-lg my-2 mx-20" [(ngModel)]="firstname" placeholder="firstname"/>
                <input class="rounded-lg my-2 mx-20" [(ngModel)]="lastname" placeholder="Lastname"/>
                <input class="rounded-lg my-2 mx-20" [(ngModel)]="email" placeholder="Email"/>
                <input class="rounded-lg my-2 mx-20" [(ngModel)]="phone_number" placeholder="Phone number"/>
                <div class="dropdown-divider"></div>
                <div *ngIf="!valid">
                    <p class="px-20 text-red-500 text-sm mt-2">Fill the fields correctly</p>
                </div>
                <div class="flex justify-end">
                    <button class="bg-green-600 mx-20 text-white rounded-lg h-10 mb-3 w-40" (click)="onCreate()">Create</button>
                </div>
            </div>
        </div>
    </div> 

</main>